DJANGO_SECRET_KEY=django-insecure-teamfinder-dev-key
DJANGO_DEBUG=True

POSTGRES_DB=teamfinder
POSTGRES_USER=teamfinder
POSTGRES_PASSWORD=teamfinder
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TASK_VERSION=2